@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 10%;
    background-color: #1e1e1e;
  }

  .menu-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #1e1e1e;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
  }

  .menu-links.show {
    display: flex;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
  }

  .carousel {
    width: 100%;
  }

  .skill-card {
    padding: 1rem;
  }
}
